.header {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    position: relative; /* Adicione essa propriedade para criar um contexto de posicionamento para os elementos internos */
  }
  .logo-container {
    position: relative; /* Adicione essa propriedade para criar um contexto de posicionamento para o logo */
  }
  .logo-image {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    position: relative; /* Adicione essa propriedade para criar um contexto de posicionamento para o logo */
    z-index: 2; /* Defina um valor de z-index maior para o logo */
  }
  /* Estilos para o logotipo 
  .logo-image {
    width: 100px;  Define a largura do logotipo 
    height: 100px; Define a altura do logotipo 
    margin-top: 10px;  Define a margem superior do logotipo 
    
  }*/
  /* Estilos para a navegação */
  .nav {
    display: flex;
    gap: 10px;
  }

  .nav a {
    color: #22083a;
    text-decoration: none;
    padding: 5px;
  }

  .nav a:hover {
    color: #22083a;
  }
  body {
    display: grid;
    grid-template-rows: 1fr auto; /* 1fr para o conteúdo principal, auto para o footer */
    min-height: 100vh; /* Garante que o grid ocupe pelo menos a altura total da janela */
  }
  
  main {
    /* Estilos para o conteúdo principal */
    padding: 20px;
  }


  h1{
    margin-top: 50px;
    font-size: 50px;
    font-family: 'Laila', sans-serif;
    text-align: left;
    color: #38135a;
    height: auto;
    width: auto;

    position: absolute; /* Adicione essa propriedade para posicionar o h1 de forma absoluta */
  top: 0; /* Posicione o h1 no topo do container pai (header) */
  left: 50%; /* Posicione o h1 no centro horizontal do container pai (header) */
  transform: translateX(-50%); /* Centralize horizontalmente o h1 */
  z-index: 1; /* Defina um valor de z-index menor para o h1 */
    
  }
  #mentoria {font-family:  'Noto Sans Display', sans-serif;

  }

#mentoria-titulo {
    text-align: center;
    font-family:  'Noto Sans Display', sans-serif;
}

#mentoria-texto {
   
    font-family: 'Noto Sans Display', sans-serif;
}
  

  .map{
    font-family:  'Arial Narrow ', sans-serif;
    font-size: 25px;
    color:rgb(10, 10, 81);

  }
  .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .testimonial {
    width: 300px; 
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0; 
    text-align: center;
  }
  
  .testimonial img {
    width: 200px; 
    border-radius: 50%;  
    margin-bottom: 10px;
  }
  
  .testimonial h3 {
    font-size: 18px; 
    margin-bottom: 10px;
  }
  
  .testimonial p {
    font-size: 14px; 
    color: #555; 
  }
  .formulario {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #6c5ce7; 
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
  }
  
  input[type="submit"] {
    background-color: #6c5ce7; 
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #5d4dd3; 
  }
  .forms{font-family:  'Arial Narrow ', sans-serif;
    font-size: 10px;
    color:rgb(10, 10, 81);
    text-align: center;

  }
  
  footer {
    position: block;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: darkgray;
    padding: 10px 0;
    text-align: center;
    color: beige;
  }
  

  